body{
    background: radial-gradient(#57ff01,#0278fa);
}



.navbar{
    display: flex;
    align-items: center;
    padding:20px;
}
p{
    font-size: 40;
    color:cadetblue;
}

nav{
    flex: 1;
    text-align: right;
}
nav ul{
    display: inline-block;
    list-style-type: none;
    

}
nav ul li{
    display: inline-block;
    margin-right: 20px;
}
a{
    text-decoration: none;
    color: #66FFCC;
    font-size: 22;
}

P{
    display: contents;
    padding-right: 60px;
}
h3{
    color:#7FFFD4;
    font-family:fantasy;
    font-size: 17;
}
h1{
    font-size:69;
    
}
h4{
    padding: 8px 30px;
    margin: 30px 0;
    border-radius: 40px;
}

.btn {
    display: inline-block;
    background:turquoise;
    color: #fff;
    padding: 8px 30px;
    margin: 30px 0;
    border-radius: 30px;
    transition: background 0.5s;
}

.btn:hover{
    background:black;
}